@use "../../foundation" as *;

.p-mypage {
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 50px;
    color: $black;
    position: relative;
    gap: 30px;

    @include mq(sp) {
        flex-direction: column;
        padding: 16px
    }

    &__back {
        @include icon-size(30px);
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        align-self: flex-start;

        @include mq(sp) {
            top: -10px;
            left: 0px;
        }
    }

    &__content {
        @include flex-column;
        align-items: center;
        justify-content: flex-start;
        width: calc(100% - 400px);
        padding: 50px;
        flex-shrink: 0;
        height: auto;
        background-color: $soft-gray;
        position: relative;
        gap: 20px;

        &.-none {
            display: none;
        }

        @include mq(sp) {
            width: 100%;
            background-color: transparent;
            padding: 0;
        }
    }

    &__game {
        @include game-badge;
    }

    &__section {
        @include flex-column;
        margin-bottom: 20px;
        width: 100%;
    }

    &__subtitle {
        @include flex-row;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: $fs-input;
        margin-bottom: 10px;
    }

    &__description {
        font-size: $fs-input;
        width: 100%;
        height: auto;
        white-space: wrap;
        text-align: start;
    }

    &__image {
        width: 100%;
        aspect-ratio: 5/4;

        @include mq(sp) {
            width: 100%;
        }
    }

    &__title {
        font-size: $fs-input;
        font-weight: $fw-bold;
        white-space: wrap;
        position: relative;
    }

    &__tags {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }

    &__tag {
        @include tag-style;
        & {
            width: auto;
            max-width: 100%;
            justify-content: flex-start;
            border: 1px solid $mid-gray;
            color: $mid-gray;
        }
    }

    &__tag-text {
        @include text-ellipsis;
        max-width: 100%;
    }

    &__info {
        @include flex-column;
        width: 400px;
        gap: 10px;
        position: sticky;
        top: 20px;
        align-self: flex-start;
        padding-bottom: 20px;

        @include mq(sp) {
            width: 100%;
        }
    }

    &__info-price {
        @include flex-column;
        border-radius: 10px;
        align-items: center;
        width: 100%;
        border: 1px solid $white;
        padding: 20px;
        gap: 10px;
    }

    &__price {
        font-size: $fs-input;
        font-weight: $fw-bold;
    }

    &__info-button {
        width: auto;
        padding: 0 36px;
        align-self: center;

        &.-disabled {
            background-color: rgb(from $black r g b / 0.5);
        }
    }


    &__coach-item {
        width: 100%;
        flex-shrink: 0;
        border-radius: 10px;
        margin-right: 30px;
        border: 1px solid $white;
        height: auto;
        color: $white;
        padding: 0 20px;
        cursor: pointer;
    }

    &__coach-upper {
        @include flex-row;
        height: 90px;
        align-items: center;
    }

    &__coach-icon {
        @include icon-size(60px);
        border-radius: 50%;
        margin-right: 20px;
    }

    &__coach-details {
        width: calc(100% - 80px);
        @include flex-row;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }

    &__coach-name {
        font-size: $fs-medium;
        color: $white;
        width: 100%;
        @include text-ellipsis;
        text-align: start;
    }

    &__coach-rating {
        margin-left: auto;
        width: 200px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__coach-stars {
        width: 100px;
    }

    &__coach-rating-text {
        font-size: $fs-text;
    }

    &__coach-tag-icon {
        @include icon-size(24px);
        margin-right: 6px;
    }

    &__coach-games {
        @include flex-row;
        width: 100%;
        height: 60px;
        padding: 2px;
    }

    &__coach-game-list {
        @include flex-row;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
    }

    &__coach-game {
        @include flex-center;
        @include text-ellipsis;
        border: 1px solid $white;
        height: 20px;
        width: auto;
        padding: 0 5px;
        margin: 2px;
        max-width: 100px;
    }

    &__coach-bio {
        @include flex-column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px;
    }

    &__coach-bio-title {
        font-size: $fs-text;
        margin-bottom: 10px;
    }

    &__coach-bio-content {
        font-size: $fs-smaller;
        text-align: start;
        white-space: pre-wrap;
        text-align: start;
    }

    &__courses-list {
        @include flex-column;
        gap: 54px;
        margin-top: 24px;
    }

    &__pagination {
        @include flex-center;
        margin-top: 40px;
    }
}

.p-mypage-menu {
    width: 400px;
    @include flex-column;
    gap: 30px;
    padding: 30px;
    align-items: center;

    @include mq(sp) {
        width: 100%;
        padding: 0;
    }

    &__icon {
        @include icon-size(200px);
    }

    &__name {
        font-size: $fs-text;
        font-weight: $fw-bold;
    }

    &__label {
        font-size: $fs-text;
        font-weight: $fw-bold;
        align-self: flex-start;
    }

    &__menu-outline {
        position: relative;
        @include flex-column;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include gradient-border;
        @include default-shadow;
    }


    &__menu {
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        @include gradient-border-inner;
        padding: 20px;
        font-size: $fs-text;

        @include mq(sp) {
            background-color: transparent;
            @include flex-row;
            flex-wrap: wrap;
            row-gap: 16px;
            padding: 0;
            justify-content: space-between;
            height: auto;
            margin-bottom: 50px;
        }
    }

    &__menu-item-outline {
        position: relative;
        @include flex-column;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 80px;
        @include gradient-border;
        @include default-shadow;
    }

    &__menu-item {
        width: 100%;
        font-size: $fs-text;
        padding: 10px;
        text-align: center;
        font-weight: $fw-bold;
        cursor: pointer;

        &.-active {
            background: linear-gradient(90deg, #5900FF 0%, #FFAA00 100%);
            color: $white
        }

        @include mq(sp) {
            @include gradient-border-inner;
            align-items: center;
            justify-content: center;
            display: flex
        }
    }

    &__pagination {
        @include flex-center;
        margin-top: 40px;
    }
}