@use '../../foundation' as *;

.p-course-card {
    @include flex-column;
    align-items: flex-start;
    width: 400px;
    gap: 10px;

    @include mq(sp) {
        width: 100%;
    }

    &__coach {
        width: 100%;
        @include flex-row;
        align-items: center;
        gap: 16px;
        height: 40px;
    }

    &__coach-name {
        @include coach-name;
    }

    &__coach-icon {
        @include icon-size(64px);
        z-index: 2;
    }

    &__item {
        width: 100%;
        height: 240px;
        flex-shrink: 0;
        border-radius: 10px;
        color: $white;
        cursor: pointer;
        position: relative;
        box-shadow: 6px 6px 0 0 $orange;
        background-color: $white;
        @include flex-row;

        &.-high {
            height: 280px;

            @include mq(sp) {
                height: 240px;
            }
        }

        &.-low {
            height: 240px;

            @include mq(sp) {
                height: 200px;
            }
        }

        &.-canceled {
            background-color: rgba(from $gray r g b /0.5);
            border: 1px solid $black;
        }
    }

    &__left {
        width: 180px;
        height: 100%;
        @include flex-column;
        padding: 20px;
        gap: 20px;

        &.-center {
            justify-content: center;
        }

        @include mq(sp) {
            width: 50%;
            min-width: 140px;
        }
    }

    &__center {
        width: 100%;
        height: 100%;
        @include flex-column;
        padding: 20px;
        gap: 10px;
        align-items: center;


    }

    &__right {
        width: 220px;
        height: 100%;
        @include flex-column;
        padding: 20px;
        gap: 10px;
        align-items: flex-start;

        @include mq(sp) {
            width: 50%;
            min-width: 160px;
        }
    }

    &__game {
        @include game-badge;
    }

    &__image {
        width: 160px;
        height: 120px;
        border-radius: 10px;
        object-fit: cover;

        @include mq(sp) {
            min-width: 120px;
            width: 100%;
            aspect-ratio: 4 / 3;
        }
    }

    &__title {
        font-size: $fs-medium;
        color: $black;
        font-weight: $fw-bold;
        width: 100%;
        @include text-ellipsis;
        flex-shrink: 0;
        text-align: start;
    }

    &__details {
        height: 60px;
        @include flex-row;
        align-items: center;
        justify-content: center;

        @include mq(sp) {
            flex-direction: column;
            height: auto;
            gap: 10px;
        }
    }

    &__value {
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
        color: $black;
        font-size: $fs-small;
        font-weight: $fw-bold;
    }

    &__tags {
        @include flex-column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
        width: 100%;

        @include mq(sp) {
            padding: 0;
        }
    }

    &__tag {
        @include tag-style;

        & {
            width: auto;
            max-width: 100%;
            justify-content: flex-start;
        }

        @include mq(sp) {
            font-size: $fs-small;
            padding: 0 20px;
        }
    }

    &__box {
        @include button-base;
        background-color: $white;
        font-size: $fs-small;
        color: $black;
        border-radius: 5px;
        height: 30px;
        padding: 0 30px;
        max-width: 100%;
        width: 100%;
        justify-content: center;

        @include mq(sp) {
            font-size: $fs-small;
            padding: 0 20px;
        }

        &.-filter {
            border: 1px solid $black;
            text-align: center;
            padding-left: 10px;
            padding-right: 24px;

            &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-top: 1.5px solid #282828;
                border-right: 1.5px solid #282828;
                position: absolute;
                top: calc(50% - 2px);
                right: 5px;
                translate: -50% -50%;
                rotate: 135deg;
                cursor: pointer;
            }
        }

        &.-text {
            background-color: $mid-gray;
            color: $white;
        }

        &.-button {
            border: 1px solid $black;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }

    }

    &__tag-text {
        max-width: 100%;
        @include text-ellipsis;

        &.-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__tag-image {
        width: 12px;
        height: 12px;
        margin-right: 2px;
    }

    &__review-image {
        width: 80%;
        height: 16px;
        object-fit: cover;
    }

    &__review-text {
        @include text-ellipsis;
        margin-top: 10px;
        color: $black;
        font-size: $fs-smaller;
        font-weight: $fw-bold;

    }

    &__date {
        font-size: $fs-input;
        color: $black;
        font-weight: $fw-bold;
    }

    &__time {
        font-size: $fs-input;
        color: $black;
        font-weight: $fw-bold;
    }

    &__text {
        font-size: $fs-smaller;
        color: $black;
        font-weight: $fw-bold;

        &.-grayed {
            color: $gray;
        }
    }

    &__button {
        @include button-base;
        background-color: $white;
        font-size: $fs-small;
        border: 1.5px solid $black;
        color: $black;
        height: 36px;
        padding: 0 30px;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        @include default-shadow;

        &.-red {
            background-color: $red;
            color: $white;
        }

        &.-grayed {
            background-color: $mid-gray;
            color: $dark-gray;
            cursor: not-allowed;
        }

        @include mq(sp) {
            padding: 0 10px;
        }
    }

    &__status {}
}