@use '../../foundation' as *;

.p-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    gap: 50px;
    padding: 30px 0;
    width: 860px;
    color: $black;


    &__title {
        height: 30px;
        font-size: $fs-medium;
        font-weight: $fw-bold ;
    }

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        // gap: 20px;
    }

    &__course {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        padding: 50px;
        color: $black;
        background-color: $soft-gray;

        gap: 50px;

    }

    &__course-description {
        font-size: $fs-input;
        width: 100%;
        height: auto;

        white-space: wrap;
        text-align: start;
    }

    &__course-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 500px;
        flex-shrink: 0;
        height: auto;

        gap: 20px;
    }

    &__course-image {
        width: 100%;
        aspect-ratio: 5/4;

        @include mq(sp) {
            width: 100%;
        }
    }

    &__course-title {
        font-size: $fs-sub_title;
        font-weight: $fw-bold;
        white-space: wrap;
    }

    &__course-game {
        width: 132px;
        text-align: center;
        height: 32px;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: $fw-bold;
        white-space: nowrap;
        flex-shrink: 0;
        border: 1px solid $gray;
        color: $gray;
        font-size: $fs-small;
        background-color: $white;

    }

    &__course-tags {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    &__course-tag {
        background-color: $white;
        font-size: $fs-small;
        border: 1px solid $mid-gray;
        color: $mid-gray;
        width: auto;
        height: 36px;
        padding: 0 30px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: $fw-bold;
        border-radius: 20px;
    }

    &__course-tag-text {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__course-info {
        display: flex;

        flex-direction: column;
        width: 500px;
        border-radius: 10px;
        background-color: $white;
        padding: 20px;
        gap: 10px;

        font-size: $fs-medium;
        font-weight: $fw-bold;
    }

    &__text {
        font-size: $fs-input;
        font-weight: $fw-bold;
        align-self: center;
    }

    &__course-price {
        font-size: $fs-input;
        font-weight: $fw-bold;
    }

    &__course-info-button {
        width: auto;
        padding: 0 36px;
        align-self: center;

        &.-disabled {
            background-color: rgb(from $black r g b / 0.5);
        }
    }
}