@use '../../foundation' as *;

.p-success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 30px;
    color: $white;
    gap: 10px;

    &__title-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &__title {
        font-size: $fs-medium;

    }

    &__check {
        width: 60px;
        height: 60px;
    }

    &__text {
        font-size: $fs-text;
        text-align: start;

        margin-bottom: 20px;
    }

    &__course {
        width: 100%;
        height: 80px;
        background-color: rgb(from $gray r g b / 0.5);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 10px;
    }

    &__info-title {
        font-size: $fs-input;
    }

    &__info-coach {
        font-size: $fs-input;
    }

    &__info-duration {
        margin-left: auto;

        font-size: $fs-medium;
        font-weight: $fw-bold;
    }

    &__info-price {
        font-size: $fs-medium;
        font-weight: $fw-bold;
    }



    &__message {
        width: 100%;
        height: 60px;
        color: $black;
        font-size: $fs-medium;
        border-radius: 30px;
    }
}