@use '../../foundation' as *;

.p-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  // padding: 30px;

  &__more {
    width: 250px;
    height: 50px;
    align-self: center;
    font-size: $fs-input;
  }

  &__top-panel {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__top-panel-background {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -100;
    object-fit: cover;
  }



  &__top-panel-phrase-container {
    margin-top: 20%;
    margin-left: 20%;
    font-size: $fs-medium;
    // background-color: $green;
    color: $white;
    font-weight: $fw-bold;
    display: flex;
    flex-direction: column;
    // padding: 0 30px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;

    @include mq(sp) {
      margin-top: 60%;
      margin-left: 10%;
      align-items: flex-start;
      justify-content: center;
      color: $white;
      margin-bottom: 20px;
    }
  }

  &__top-panel-support-container {
    margin-top: 10px;
    margin-left: 20%;
    font-size: $fs-small;
    color: $white;
    font-weight: $fw-bold;
    display: flex;
    // padding: 0 30px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    @include mq(sp) {
      margin-top: 0;
      margin-left: 10%;
      align-items: center;
      justify-content: flex-start;
      color: white;
    }
  }

  &__top-panel-support-logo {
    width: 20px;
    height: 20px;
  }


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 24px;
    margin-top: 48px;
  }


  &__login-panel {
    height: 200px;
    width: 80%;
    background-color: rgb(from $white r g b / 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 100px;

    @include mq(sp) {
      width: 100%;
    }
  }

  &__login-panel-title {
    font-size: $fs-medium;
    font-weight: $fw-bold;
  }

  &__login-panel-text {
    font-size: $fs-text;
    font-weight: $fw-bold;

    @include mq(sp) {
      font-size: $fs-smaller;
    }
  }

  &__section-title {
    color: $black;
    font-size: $fs-sub-title;
    font-weight: $fw-bold;
    margin-bottom: 15px;
  }

  &__section-sub-title {
    color: $black;
    font-size: $fs-medium;
    font-weight: $fw-bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__section-icon {
    height: 24px;
    width: 24px;
  }

  &__game-panel {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__game-list {
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    gap: 30px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mq(sp) {
      height: auto;
    }
  }



  &__panel {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.-no-padding {
      margin-bottom: 24px;
    }
  }

  &__coach-list {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 60px 30px;
    padding: 50px 0;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mq(sp) {
      height: auto;
    }
  }

  &__course-panel {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__course-list {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    gap: 30px;

    @include mq(sp) {
      height: auto;
    }
  }

  &__become-text {
    font-size: $fs-input;
    font-weight: $fw-bold;
    line-height: 24px;
    height: 100px;
    padding: 20px;
  }

  &__become-button {
    width: 250px;
    height: 50px;
    align-self: center;
    font-size: $fs-input;
  }
}