@use '../../foundation' as *;


.p-courses {
    @include section-container;
    height: auto;
    gap: 50px;
    position: relative;
    color: $black;

    &__history {
        height: 60px;
        width: 100%;
        margin-bottom: 30px;
    }

    &__back {
        @include icon-size(30px);
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        align-self: flex-start;

    }

    &__history-title {
        height: 30px;
        font-size: small;
        @include flex-start;
        width: 100%;
    }

    &__histories {
        height: 30px;
        @include flex-row;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
        gap: 10px;
    }

    &__history-query {
        font-size: small;
        border: 1px solid $white;
        height: 24px;
        width: auto;
        padding: 5px;
        @include flex-center;
        max-width: 100px;
        @include text-ellipsis;
        cursor: pointer;
    }

    &__button {
        width: 100%;
        border-radius: 10px;
        background-color: rgb(from $gray r g b / 0.5);
        height: 60px;
        margin-bottom: 30px;
        position: relative;
        padding: 30px;
        display: flex;
        font-size: $fs-text;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
    }

    &__right {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 50%;
        right: 30px;
        translate: 0 -50%;
    }

    &__navigation {
        height: 30px;
        @include flex-row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__navigation-item {
        color: $white;
        font-size: $fs-text;

        &.-navi {
            cursor: pointer;
        }
    }

    &__text {
        color: $black;
        font-size: $fs-text;
        font-weight: $fw-bold;
    }

    &__title {
        @include title-style;
        height: 30px;
    }

    &__section {
        width: 100%;
        @include flex-column;
        align-items: center;
        justify-content: flex-start;
    }

    &__list {
        @include list-container;
        & {
            width: 860px;
            margin-bottom: 100px;
            justify-content: space-between;
        }

        &.-wrap {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    &__coach-bio {
        @include card-style;
        width: 100%;
        height: auto;
        text-align: start;
        padding: 32px;
        min-height: 100px;
        font-size: $fs-text;
        white-space: pre-wrap;
        text-align: start;
    }

    &__coach-sns {
        width: 100%;
        display: flex;
        height: 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    &__coach-sns-icon {
        width: 40px;
        height: 40px;
        ;
    }

    &__sub-title {
        font-size: $fs-input;
        font-weight: $fw-bold;
        align-self: flex-start;
        margin-bottom: 10px;
    }

    &__sort {
        @include sort-container;
    }

    &__sort-label {
        font-size: $fs-text;
        color: $black;
        font-weight: $fw-bold;
    }

    &__coach {
        @include flex-row;
        justify-content: space-around;
        width: 500px;

        @include mq(sp) {
            width: 100%;
            gap: 30px;
        }
    }

    &__coach-game {
        @include game-badge;
    }

    &__coach-detail {
        @include flex-column;
        width: 200px;
        align-items: flex-start;
        gap: 10px;
    }

    &__coach-name {
        @include coach-name;
    }

    &__coach-icon {
        @include icon-size(200px);

        @include mq(sp) {
            @include icon-size(150px);
        }
    }

    &__coach-rating {
        @include flex-row;
        gap: 10px;
        font-size: $fs-medium;
        font-weight: $fw-bold;
        align-items: center;
        justify-content: flex-start;
        height: 15px;
    }

    &__load-more-button {
        background: none;
        color: $black;
        position: relative;
        width: 160px;
        box-shadow: none;

        &::before {
            content: "";
            border-top: 2px solid $black;
            border-left: 2px solid $black;
            height: 16px;
            width: 16px;
            transform: rotate(225deg);
            position: absolute;
            top: 40%;
            left: 0;
            translate: -50% -50%;
        }
    }
}