@use '../../foundation' as *;

.p-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    gap: 50px;
    padding: 30px 0;
    width: 860px;
    color: $black;

    &__history {
        height: 60px;
        width: 100%;
        margin-bottom: 30px;
    }

    &__history-title {
        height: 30px;
        font-size: small;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    &__histories {
        height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
        gap: 10px;
    }

    &__history-query {
        font-size: small;
        border: 1px solid $white;
        height: 24px;
        width: auto;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-items: center;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

    }

    &__button {
        width: 100%;
        border-radius: 10px;
        background-color: rgb(from $gray r g b / 0.5);
        height: 60px;
        margin-bottom: 30px;
        position: relative;
        padding: 30px;
        display: flex;
        font-size: $fs-text;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

    }

    &__right {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 50%;
        right: 30px;
        translate: 0 -50%;
    }

    &__navigation {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__navigation-item {
        color: $white;
        font-size: $fs-text;

        &.-navi {
            cursor: pointer;
        }
    }

    &__text {
        color: $black;
        font-size: $fs-text;
        font-weight: $fw-bold;
    }

    &__title {
        height: 30px;
        font-size: $fs-medium;
        font-weight: $fw-bold ;
    }

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        // gap: 20px;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px;
        margin-bottom: 100px;

        justify-content: space-between;

        &.-wrap {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    &__coach-bio {
        width: 100%;
        height: auto;
        background-color: $white;
        border-radius: 10px;
        text-align: start;
        padding: 32px;
        min-height: 100px;
        font-size: $fs-text;
        white-space: pre-wrap;
        text-align: start;
    }

    &__sub-title {
        font-size: $fs-input;
        font-weight: $fw-bold;
        align-self: flex-start;
        margin-bottom: 10px;
    }

    &__sort {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    &__sort-label {
        font-size: $fs-text;
        color: $black;
        font-weight: $fw-bold;
    }

    &__coach {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
    }

    &__coach-game {
        width: 132px;
        text-align: center;
        height: 32px;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: $fw-bold;
        white-space: nowrap;
        flex-shrink: 0;
        border: 1px solid $gray;
        color: $gray;
        font-size: $fs-small;
        background-color: $white;

    }

    &__coach-detail {
        display: flex;
        flex-direction: column;
        width: 200px;
        align-items: flex-start;
        gap: 10px;
    }

    &__coach-name {
        color: $black;
        font-size: $fs-medium;
        font-weight: $fw-bold;
        max-width: 350px;
        text-overflow: ellipsis;

        overflow: hidden;
        white-space: nowrap;
    }

    &__coach-icon {
        width: 200px;
        height: 200px;
    }

    &__coach-rating {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: $fs-medium;
        font-weight: $fw-bold ;
        align-items: center;
        justify-content: flex-start;
        height: 15px;
    }

    &__load-more-button {
        background: none;
        color: $black;
        position: relative;
        width: 160px;

        &::before {
            content: "";
            border-top: 2px solid $black;
            border-left: 2px solid $black;
            height: 16px;
            width: 16px;
            transform: rotate(225deg);
            position: absolute;
            top: 40%;
            left: 0;
            translate: -50% -50%;
        }
    }
}