@use '../foundation' as *;

.c-button {
    height: 50px;
    width: 250px;
    background-color: $black;
    color: $white;
    border-radius: 25px;
    box-shadow: none;
    font-size: $fs-input;
    font-weight: $fw-bold;
    text-align: center;
    cursor: pointer;
    white-space: pre-wrap;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    &.-inactive {
        cursor: default;
        filter: grayscale(80%);
    }

}