@use "../foundation" as *;

.c-multiline-input {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-direction: column;
    position: relative;

    &__textarea {
        width: 100%;
        box-sizing: border-box;
        resize: none;
        font-size: $fs-text;
        line-height: 30px;
        outline: none;
        text-align: left;
        padding: 10px 20px;

        &:placeholder-shown {
            display: flex;
            align-items: center;
            text-align: left;
            vertical-align: middle;
        }

        &:disabled {
            background-color: #f9f9f9;
            cursor: not-allowed;
        }

        &::placeholder {
            color: $gray;
        }
    }
}