@use "../foundation" as *;

.c-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;

    &__text {
        display: flex;
        font-size: $fs-text;
        align-items: center;
        text-align: right;
        padding-left: 30px;
        font-size: $fs-medium;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        font-size: $fs-text;
        align-items: center;
    }

    &__nav-item {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.c-pagination__nav-img {
    width: 24px;
    height: 24px;
}

.c-pagination__nav-link {
    color: $black;
    cursor: pointer;
    font-size: $fs-medium;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;

    justify-content: center;

    &:first-child {
        margin-left: 0;
    }

    &.-far {
        color: $dark-gray;
    }

    &.-inactive {
        cursor: default;
        filter: opacity(20%);
    }

    &:not(.-inactive) {
        &:hover {
            background-color: $soft-gray;
        }
    }

    &.-active {
        // color: $white;
        text-decoration: none;
        cursor: default;
        background: linear-gradient(145.53deg, rgba(102, 14, 235, 0.5) 10.59%, rgba(255, 170, 0, 0.5) 85.52%);

        &:hover {
            background: linear-gradient(145.53deg, rgba(102, 14, 235, 0.5) 10.59%, rgba(255, 170, 0, 0.5) 85.52%);
        }
    }
}

.c-pagination__nav-text {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}