@use "../foundation" as *;

.c-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    background-color: $light-gray;
    border-radius: 4px;
    gap: 5px;

    &.-type2 {
        background-color: transparent;
    }

    &.-mb24 {
        margin-bottom: 24px;
    }
}

.c-switcher__item {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fs-text;
    color: $dark-gray;
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.5s;

    &.-type2 {
        border-bottom: 1px solid $gray;
        color: $light-gray;
    }

    &:hover {
        color: $black;
        transition: color 0.5s;

        &.-type2 {
            color: $gray;
        }
    }

    &.-active {
        background-color: $white;
        height: 30px;
        border-radius: 4px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        transition: 0.1s;
        color: $black;
        font-weight: $fw-bold;

        &.-type2 {
            border-radius: 0;
            height: auto;
            background-color: transparent;
            box-shadow: none;
            color: $theme;
            border-bottom: 1px solid $theme;
        }
    }

    &.-w102 {
        width: 102px;
    }
}