@use "../foundation/variable" as *;

.c-toggle-switch-button__input {
    display: none;

    &:checked+label {
        background-color: $blue;

        &::before {
            left: 2em;
        }
    }
}

.c-toggle-switch-button__label {
    background-color: $light-gray;
    border-radius: 2em;
    border: 2px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2em;
    position: relative;
    transition: .5s;
    width: 3.75em;

    &::before {
        background: #fff;
        border-radius: 100%;
        content: '';
        display: inline-block;
        height: 1.5em;
        position: absolute;
        left: 0.25em;
        transition: .5s ease-out;
        width: 1.5em;
        z-index: 1;
    }
}